@import url("https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#mobile-nav {
  display: none;
}
html {
  font-family: "Scheherazade New", sans-serif;
  font-size: 16px;
}
.nav-bar {
  position: absolute;
  z-index: 2;
  width: 100%;
}
a {
  text-decoration: none;
}
ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  list-style: none;
  height: 10vh;
  background-color: rgb(245, 245, 245);
}
li a {
  display: block;
  color: rgb(129, 77, 77);
  text-decoration: none;
  font-size: 1.5rem;
}
.name {
  font-size: 50px;
  color: #189ab4;
  font-weight: bold;
}
.Resume-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url(/photos/xps-7ZWVnVSaafY-unsplash.jpg);
  background-size: cover;
}

.text-resume {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 35%;
  left: 40%;
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  z-index: 2;
}

.firstWord {
  color: #fff;
}
.resume-cta {
  border: 2px solid grey;
  width: 175px;
  padding: 8px;
  margin-top: 20px;
}

.resume-text {
  color: black;
}

.resume-cta:hover {
  background-color: grey;
}
.project-container {
  width: 100%;
  height: auto; /*incase of adjustment*/
  background-color: rgba(100, 100, 100, 0.1);
}
.Header {
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap; /* when exceed wrap into the next space*/
}
.first-Project {
  width: 400px;
  height: 400px;
  background: #fff;
  position: relative;
  border-radius: 10px;
  margin: 50px;
  background-image: url(/photos/ben-kolde-bs2Ba7t69mM-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.Second-Project {
  width: 400px;
  height: 400px;
  background: #fff;
  position: relative;
  border-radius: 10px;
  margin: 50px;
  background-image: url(/photos/ben-kolde-bs2Ba7t69mM-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.Third-Project {
  width: 400px;
  height: 400px;
  background: #fff;
  position: relative;
  border-radius: 10px;
  margin: 50px;
  background-image: url(/photos/ben-kolde-bs2Ba7t69mM-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.text {
  position: absolute; /*dictate where its movement*/
  height: 75px;
  width: 100%;
  z-index: 2;
  left: 0;
  bottom: 0;
  background-color: white;
  overflow: hidden;
}
.text:hover {
  height: 250px;
}
.name1 {
  margin-top: 10px;
  color: darkolivegreen;
  font-size: 2rem;
}
.content {
  padding: 25px 0;
  color: darkslategray;
}

.button {
  border: 4px solid grey;
  width: 160px;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 30px;
}
.view {
  font-weight: bold;
  color: darkgreen;
  text-transform: uppercase;
}
.about-container {
  margin: 10%;
  width: 80%;
  height: auto;
  background-color: darkgray;
}
